
@using Microsoft.AspNetCore.Components

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public bool isOpen = false;

    [Parameter]
    public string Title { get; set; } = String.Empty;

    public async Task Toggle()
    {
        isOpen = !isOpen;
        await InvokeAsync(StateHasChanged);
    }
}

<div class="accordion">
    <div class="accordion-header" @onclick="Toggle">
        <h3>@Title</h3>
        <svg class="caret" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </div>
    <div class="accordion-body@(isOpen ? " open" : " closed")">
        @ChildContent
    </div>
</div>
