@using AntDesign.Icons;

<section id="google_colab" class="my-4">
    <div class="container mx-auto">
        <div class="panel mx-auto text-center p-4">
            <h3 class="text-xl flex flex-row items-center justify-center"><span>Browser-Based</span></h3>
            <hr class="rule my-4" />
            <img id="colab_logo" class="mx-auto" src="/svg/google-colab-logo.svg" height="2rem" width="auto" />    
            <p class="mb-3">To get started in your browser without installing anything, NAM offers training online via Google Colab.
            </p>
            <a class="btn btn-tertiary my-4"
                href="https://colab.research.google.com/github/sdatkinson/NAMTrainerColab/blob/main/notebook.ipynb">
                
                <span>Get Started Online</span> <ArrowRightOutlined />
            </a>
        </div>
    </div>
</section>