@using AntDesign.Icons;

<section id="mac_based">
    <div class="container mx-auto">
        <div class="panel text-center  p-4">
            <img id="logo_apple" src="/svg/apple-logo-white.svg" alt="Apple logo" />
            <h3 class="text-lg flex flex-row items-center justify-center"><span>Mac-Based</span></h3>
            <hr class="rule my-4" />
            <p>To get started on your Mac, you can download the NAM application for Windows.</p>
            <a class="btn btn-tertiary my-4" href="/guides/create/mac">
                <span>Mac Guide</span> <ArrowRightOutlined />
            </a>
        </div>
    </div>
</section>