

@code {
    protected override void OnInitialized()
    {
        // get width of window
        // if width is less than 768px
        // set width of iframe to 100%
        // else set width of iframe to 1920px

        // get height of window
        // if height is less than 768px

        // set height of iframe to 100%

    }
}

<section id="youtube_frontpage">
    <div class="w-3/4 mx-auto">
        <div class="p-4">
            <h3 class="text-2xl text-center mb-4">
                Showcase
            </h3>
            <hr class="rule"/>
            <iframe class="my-4 aspect-video w-full mx-auto" src="https://www.youtube.com/embed/wIPoLLDUMlU?si=aV8yFI-2v-v0vkQ6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div> 
    </div>
</section>