@using AntDesign.Icons;
<section id="windows_based">
    <div class="container mx-auto">
        <div class="panel text-center  p-4">
            <img id="logo_windows" src="/svg/windows-logo-white.svg" alt="Windows logo" />
            <h3 class="text-lg flex flex-row items-center justify-center"><span>Windows-Based</span></h3>
            <hr class="rule my-4" />
            <p>To get started on your Window-based computer, you can download the NAM application for Windows.</p>
            <a class="btn btn-tertiary my-4" href="/guides/create/windows">
                <span>Windows Guide</span> <ArrowRightOutlined />
            </a>
        </div>
    </div>
</section>  