@page "/guides/create/windows"

<section>
    <div class="hero">
        <div class="text-center z-10">
            <h2 class="text-3xl mb-4">Windows Create Guide</h2>
            <hr class="rule" />
            <p class="mt-4">
                To get started on your Windows machine, you can download the NAM application for Windows.
            </p>
            <a class="btn btn-tertiary my-4" href="/download">
                <span>Get Started</span> <ArrowRightOutlined />
            </a>
        </div>
    </div>
</section>