@using Client.Components

@page "/nam-online"

<PageTitle>NAM Online</PageTitle>

<section>
    <div class="hero">
        <div class="text-center z-10">
            <h2 class="text-3xl mb-4">NAM Online</h2>
            <p>
                Upload a .nam model and an IR file to play through an online version of NAM.
            </p>
        </div>
    </div>
</section>
<section>
    <Nam/>
</section>


