@page "/contribute"
 
<section>
    <div class="hero">
        <div class="text-center z-10">
            <h2 class="text-3xl mb-4">Contribute</h2>
            <p>
                Be part of something bigger
            </p>
        </div>
    </div>
</section>