@page "/play"

<link rel="stylesheet" href="/css/pages/play.css" />

<section id="play_hero">
    <div class="hero">
        <div class="hero-content text-center z-10">
            <h2 class="text-3xl mb-4">Play</h2>
            <p>
                Here you'll find everything you need to get into NAM, from making your own models to getting connected
                with tens of thousands of other musicians enjoying NAM.
            </p>
            <a href="/get-started"
                class="btn btn-primary">
                Download
            </a>
        </div>
    </div>
</section>