@using Client.Components;

@page "/repos"

<section id="play_hero">
    <div class="hero">
        <div class="hero-content text-center z-10">
            <h2 class="text-3xl mb-4">Repos</h2>
            <p>
            </p>
        </div>
    </div>
</section>
<Repos/>